<footer>
 <p>Copyright 2023 <a href="/" target="_blank">Bytalhauzun</a> All Rights Reserved. </p>
 </footer>
 </div>
</body>
<script src="/javascripts/jquery-2.2.4.js"></script>
<script src="/javascripts/bootstrap.js"></script>
<script src="/javascripts/bootstrap-table.js"></script>
<script src="/javascripts/highcharts.js"></script>
<script src="/javascripts/exporting.js"></script>
<script src="/javascripts/socket.io.js"></script>
<script src="/javascripts/watchcompany_socket.js"></script>
<script src="/javascripts/watchcompanyjquery_device.js"></script>
<script src="/javascripts/watchcompanyjquery_highchart.js"></script>
</html>
