<%-include header %>

<body>
<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			<a class="brand" href="/">WatchCompany</a>
			<div class="nav-collapse">
				<ul class="nav">
					<% if(user){ %>
					<li><a href="/logout">Sign out</a></li>
					<li><a href="/device">Equipment Control</a></li>
					<li><a href="/ems">Energy Management</a></li>
					<% } else { %> 
					<li><a href="/login">Log in</a></li>
					<li class="active"><a href="/reg">Register</a></li>
					<% } %>
				</ul>
			</div>
		</div>
	</div>
</div>

<form class="form-horizontal" method="post">
	<fieldset>
	<div class="container">
		<legend class="form-signin-heading">User Register</legend>

	<div class="control-group">
		<label class="control-label" for="name">Username</label>
			<div class="controls">
				<label for="name">
					<input type="text" class="input-xlarge" id="name" name="name" placeholder="EmailAddress" />
					<span class="help-inline">Your account name, used to log in and display.</span>
				</label>
			</div>

	</div>

	<div class="control-group">
		<label class="control-label" for="password">Password</label>
			<div class="controls">
				<label for="password">
					<input type="password" class="input-xlarge" id="password" name="password" placeholder="Password" />
				</label>
			</div>
	</div>

	<div class="control-group">
		<label class="control-label" for="password-repeat">Repeat Password</label>
			<div class="controls">
				<label for="password-repeat">
					<input type="password" class="input-xlarge" id="password-repeat" name="password-repeat" placeholder="RepeatPassword"/>
				</label>	
			</div>
	</div>


	<div class="form-actions">
			<button type="submit" class="btn btn-primary">Register</button>
			<button type="reset" class="btn">Cancel</button>
	</div>
</div>

	
</fieldset>
</form>

<hr />
<%-include footer %>
